
.container{
    display: grid;
    grid-template-columns: 3fr 2.5fr;
    grid-template-rows: auto 1fr;
    text-align: center;
    height: 60vh;
    
}
 
h2{
    margin-top: 12px;
}
.title{
    grid-column: 1 / -1;
}
.card{
    border: 1px solid black;
    margin: 8px;
    
     
}
 
.task-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.task-row{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.list-menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    
}

.lists{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.task-card{
    border: 1px solid black;
    padding: 12px;
    width: 20rem;
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.task-card input{
    margin-left: auto;
    transform: scale(1.7);
}